<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
<header>ToDo list</header>
<div id="todo-list"></div>
</body>
</html>