body {
    max-width: 1000px;
    margin: auto;
    font-family: Courier, serif ;
}

h1, p {
    text-align: center;
}

input {
    text-indent: 10px;
}
button {
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    position: relative;
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: -webkit-grabbing;
}

.buttons {
    position: absolute;
    right: 10px;
}

.buttons .complete, .buttons .edit {
    margin-right: 10px;
}

.time {
    position: absolute;
    margin-top: 5px;
    left: 10px;
    font-size: small;
}

#completed li {
    background: #ff864c;
    text-decoration: line-through;
}
